.adminNavbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.sidePanel {
    /* width: 200px; */
    background-color: var(--twColor);
    padding: 16px;
}

.sidePanelButton {
    display: block;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 4px 20px;
    border: none;
    background-color: var(--twColor);
    color: #ffffff;
    transition: 0.1s;
    font-size: 1em;
}

.sidePanelButton i {
    padding: 8px;
}

.sidePanelButton:focus {
    color: white;
    transform: scale(1.1);
}

.sidePanelButton:hover {
    transform: scale(1.05);
}

.mainContent {
    flex: 1;
    padding: 20px;
}

.adminPanel {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.adminPanelContent {
    display: flex;
    flex: 1;
}

/* Users List */

.usersList {
    text-align: center;
    width: 600px;
    margin: 10px auto;
}

.usersList h3, .usersList p{
    padding: 6px;
}

.tileLeft .profilePic {
    border-radius: 50px;
    max-width: 50px;
    aspect-ratio: 1/1;
}

.backButton{
    margin: auto;
    max-width: 900px;
    display: flex;
    justify-content: center;
}
.backButton i{
    flex: 1;
    padding: 10px;
    font-size: large;
}
.backButton h1{
    flex: 1;
}

.commissionOptionsTile{
    display: flex;
    justify-content: space-between;
    width: 50%;
    border-radius: 8px;
    padding: 4px;
    margin: 8px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    border: 1px #ccc;
    border-bottom-style: solid;
}

.tileRight i:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.withdraw{
    display: flex;
    justify-content: space-between;
    width: 90%;
    border-radius: 8px;
    padding: 10px;
    margin: 8px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    border: 1px #ccc;
    display: flex;
    /* border-bottom-style: solid; */
}

.optionsContainer{
    text-align: center;
}

.confirmationPopup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.privacyControl{
    padding: 10px;
    text-align: center;
    width: 80%;
}

.privacyControl textarea{
    width: 90%;
    padding: 10px;
    border-radius: 12px;
    color: #333;
    resize: vertical;
    min-height: 70vh;
    margin: 6px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}