.donatePage {
    background-color: var(--earthyBlue);
    height: 100vh;
    text-align: center;
}

.donateDetails {
    margin: 20px;
    margin: 10px auto;

    max-width: 500px;
    width: 100%;
    padding: 20px 50px;
    text-align: center;
    border-radius: 20px;
    background-color: var(--primary);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.donateDetails p {
    font-size: 0.75em;
    color: lightgrey;
}

.donateDetails h2 {
    margin-bottom: 20px;
}

.donateDetails .btn {
    margin-top: 20px;
}

.successContent {
    width: 200px;
    text-align: center;
    margin: auto;
    height: calc(100vh - 174px);    
}

.successContent .btn,
.successContent p {
    margin: 10px;
}

.myCamaignTile h4{
    padding: 4px 10px;
    color: #555555;
}