.footer {
    background-color: var(--footer);
    padding: 10px 0;
    text-align: center;
    color: white;
    /* position: fixed; */
    /* left: 0;
    bottom: 0;
    width: 100%; */
    text-align: center;
}

.footer p {
    margin: 0;
}
